.Brands {
  padding-left: 0;
  margin-top: 10px;
  display: flex;
  gap: 30px;
}
.brandBTN {
  background: -webkit-linear-gradient(450deg, #eee, #ed1a4e);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
}
