.Users,
.Products,
.Categories,
.Pending {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.Users table,
.Products table {
  max-width: 900px;
  margin: auto;
  overflow-x: auto;
}

.Users button {
  border-radius: 5px;
  color: black;
  border: 1px solid var(--borders);
}
.Dark .Users button {
  color: white;
}
.Users .Danger {
  border: 1px solid var(--borders);
}
.Users .Danger:hover {
  background-color: #d9534f;
  border-radius: 5px;
}
